// 
// Styles
// 

// Import custom variables and override default Bootstrap variables
@import "./variables.scss";

// Import Bootstrap
@import "bootstrap/scss/bootstrap.scss";

// Import custom styles
@import "./global.scss";

// Components
@import "./components/divider.scss";
@import "./components/buttons.scss";
@import "./components/navbar.scss";
@import "./components/forms.scss";

// Sections
@import "./sections/masthead.scss";
@import "./sections/portfolio.scss";
@import "./sections/footer.scss";


body,
html {
  margin: 0;
  padding: 0;
  background: #002142;
  margin-top: -50px;
}

.con {
  width: 100%;
  background: #002142;
  height: 900px;
  position: relative;
  overflow: hidden;
}

.header {
  border: 5px solid #fefde8;
  width: 200px;
  height: 200px;
  position: absolute;
  font-family: "Palanquin", sans-serif;
  color: #fefde8;
  margin-left: 20px;
  margin-top: 450px;
  text-align: center;
}

@for $i from 1 through 8 {
  .shoot:nth-child(#{$i}) {
    width: 5px;
    height: 5px;
    background: #fefce6;
    box-shadow: 0px 1px 30px 0px rgba(255, 255, 255, 1);
    z-index: 400;
    position: absolute;
    border-radius: 50%;
    margin-left: -1040px;
    animation: shoot-#{$i} random(4) + s linear 1;
    animation-delay: $i * 0.01s;
  }

  @keyframes shoot-#{$i} {
    0% {
      margin-left: 0px;
      margin-top: 100px;
      width: 8px;
      height: 8px;
    }
    100% {
      margin-left: 900px;
      margin-top: 150px + random(40);
      width: 0px;
      height: 0px;
    }
  }
}

@for $i from 1 through 8 {
  .moon:nth-child(#{$i}) {
    $d: $i * 100px;
    width: $d;
    height: $d;

    border-radius: 50%;

    background: #fefce6;
    box-shadow: 0px 1px 30px 0px rgba(255, 255, 255, 1);

    opacity: 1/ ($i * 5);

    position: absolute;
    z-index: 10;

    margin-left: calc(50% - #{$d}/ 2);
    margin-top: calc(400px - #{$d}/ 2);
  }

  .moon:nth-child(1) {
    opacity: 1;

    $d: 150px;
    width: $d;
    z-index: 10;
    height: $d;

    margin-left: calc(50% - #{$d}/ 2);
    margin-top: calc(400px - #{$d}/ 2);
  }
}

.stars {
  width: 100%;
  height: 875px;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 0px;
  position: relative;
}

$stars: 200;

@for $i from 0 through $stars {
  .star:nth-child(#{$i}) {
    $d: random(2);
    width: $d + px;
    height: $d + px;
    z-index: 1;
    background: white;

    border-radius: 50%;

    position: absolute;

    opacity: 1;

    margin-left: random(1500) + px;
    margin-top: random(875) + px;

    animation: twinkle-#{$i} 1s linear infinite;
    animation-delay: $i * 0.01s;
  }

  @keyframes twinkle-#{$i} {
    from {
      opacity: 1;
    }

    to {
      opacity: 0.3;
    }
  }
}

.h-con {
  //outline:1px solid red;
  width: 100%;
  height: 300px;
  position: absolute;
  //overflow:hidden;
  margin-top: 450px;
  //margin-left:calc(50% - 500px);
  z-index: 100;
  margin-left: calc(50% - 350px);
}

.hill {
  width: 700px;
  height: 1000px;
  z-index: 130;
  //border:1px solid red;
  border-radius: 30px;
  transform: rotate(45deg);
  box-shadow: 0px 1px 30px 0px rgba(0, 0, 0, 0.5);
  margin-top: 100px;
  position: absolute;
  margin-left: -200px;

  background: linear-gradient(to bottom right, #002142, #27435f);
}

.hill2 {
  width: 800px;
  height: 1000px;
  background: #002142;
  z-index: 130;
  //border:1px solid red;
  border-radius: 30px;
  transform: rotate(45deg);
  box-shadow: 0px 1px 30px 0px rgba(0, 0, 0, 0.5);
  margin-top: 100px;
  position: absolute;
  margin-left: -100px;

  background: linear-gradient(to top right, #002142, #27435f);
}

.hill3 {
  width: 600px;
  height: 1000px;
  background: #002142;
  z-index: 130;
  //border:1px solid red;
  border-radius: 30px;
  transform: rotate(45deg);
  box-shadow: 0px 1px 30px 0px rgba(0, 0, 0, 0.5);
  margin-top: 100px;
  position: absolute;
  margin-left: 50px;

  background: linear-gradient(to bottom right, #002142, #27435f);
}
